.searchInput {
    margin-top: 30px;
    display: flex;
    position:relative;
}

.searchIcon {
    position:absolute;
    top: 12px;;
    right: 110px;
    font-size: 30px;
}

.search input {
    width: 1160px;
    padding: 12px 20px 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.searchInput:focus-within .searchIcon {
    display:none;
}

.search button {
    background-color: rgb(30, 169, 255);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-size: 13px;
    margin: 8px 0;
    opacity: 0.6;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

.space {
    width: 10px;
    height: auto;
    display: inline-block;
  }

.dataResults {
    margin-top: -8px;
    /* display: inline-block; */
    position:relative;
    padding: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    /* width: 1160px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    table-layout: auto; */
}

.dataResults::-webkit-scrollbar {
    display: none;
}

.dataResults .dataItem {
    width: 100%;
    height: 90px;
    align-items: center;
    color: black;
    display: flow-root;
}

.dataItem {
    border-bottom: inherit;
    border-color: lightgrey;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #F6F6F6;
}

.itemInfo {
    font-size: 13px;
    color: gray;
}

.color-whatever {
    color: orange;
}